<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cadenaC" connectionString ="Server = tcp:japolingo.database.windows.net,1433;Initial Catalog = Japolingo; Persist Security Info=False;User ID = Adriantrejo; Password=Supern1717;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout = 30"/>
  </connectionStrings>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>