<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>WDDipa64UgZFRa8v1p/GNfVqLWJ2AZ3ap8cqzNrc98DZWSQOT3wI9U0sy91RRZ8tUbGLmkPUG3ShzmqiiRY1SMyGmHHa/hyBY2INvaDDUlpRYEJyn1rL5bnrQE4h+cmccgKzJ/LEEDhsGYAsQrKK4qxFM1P7FFJ1vri65ye9hOE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>on4uoibJ25WFOf+mgJW7fElz6y1pseB+CUFrZHtFDfhaRYJT6YaX0bbLRdysjRKRiGVtXc/nfSUwOIozeqsf94E+QQMKP3o8Bq1fySftJvW5osKW4rX8xjR1HPTkTHkudJB+sWQdtuuEtRUyT63PRz4JmVMEwXUnLomx5UbUwBBqwypDEmwmEZTy1ImVoymZ6oRmOXYn7G3/FNM2AcYqYTVWqFzJPCOJd5tfrnssL07nqKsFwTv/++3s2MOkaFJkviTgTc9BpEdP/feIPL8Nu7jCDq+271eIA/Bmbsd7+uIBJbAJfOCM8yXrJu5f5E4xFO+ZjEremd1JYnz7gGF4YoCW8lrIKGtLwZvkzd/I9odQAitUAMZwvg+ikya06drJFzHnbAwEaUx9V0dTvCHV0sUrF2ei3aZrn4xYqn3XSs2yNFhtYcnYul3uXsLg+v/GZxD1Un6kuT0=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>